.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio_item {
    background-color: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.port {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.portfolio_item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}


.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio_image1 {
    background-image: url("../../Assets/index.jpg");
    background-position: center;
    background-size: 710px auto;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    width: 100%;
    height: 21.5rem;
}
.portfolio_image2 {
    background-image: url("../../Assets/title.jpg");
    background-position: center;
    background-size: 730px auto;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    width: 100%;
    height: 21.5rem;
}
.portfolio_image3 {
    background-image: url("../../Assets/Yahtzee.png");
    background-position: center;
    background-size: 610px auto;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    width: 100%;
    height: 21.5rem;
}
.portfolio_image4 {
    background-image: url("../../Assets/lights\ out.png");
    background-position: center;
    background-size: 400px auto;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    width: 100%;
    height: 21.5rem;
}
.portfolio_image5 {
    background-image: url("../../Assets/thispage.png");
    background-position: center;
    background-size: 600px auto;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    width: 100%;
    height: 21.5rem;
}
.portfolio_image6 {
    background-image: url("https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80");
    background-position: center;
    background-size: 550px auto;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    width: 100%;
    height: 21.5rem;
}

.portoflio-item-cta {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

/*  ============= MEDIA QUERIES MEDIUM DEVICES ============== */

@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 600px) {

    .portfolio_item{
        width: 90%;
    }

    .portfolio_image1{
        width: 100%;
        background-size: 530px 340px;
    }

    .portfolio__container {
        margin-left: 10%;
        grid-template-columns: 1fr ;
        gap: 1rem;
    }
}