.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me-image{
    width: 345px;
    aspect-ratio: 1/1;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
    display: grid;
    place-items: center;
    border-radius: 2rem;
}


.image{
    background-image: url("../../Assets/group.jpg");
    width: 22rem;
    height: 21rem;
    background-position: center;
    background-size: 130%;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(8deg);
    transition: var(--transition)

}

.image:hover{
    transform: rotate(0);
    
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}